<html>

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>SFCIR Dashboard</title>
    <%= stylesheetTag("application.css") %>

    <link rel="icon"
      type="image/png"
      href="http://localhost:3000/assets/images/favicon.ico">

    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="<%= authenticity_token %>" />

    <link href="https://js.arcgis.com/4.6/esri/css/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <div class="pull-left">
            <i style="color:#9e9e9e" class="fa fa-globe fa-4x" aria-hidden="true">&nbsp;</i>
          </div>
          <a class="navbar-brand" href="#">Santa Fe CIR</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://www.sfcir.org/">Back to SFCIR.org</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <%= yield %>

    <%= javascriptTag("application.js") %>
    <script src="https://js.arcgis.com/4.6/"></script>

    <script>
      require([
        "esri/Map",
        "esri/views/MapView",
        "esri/layers/TileLayer",
        "dojo/dom",  // require dojo/dom for getting the DOM element
        "dojo/on",   // require dojo/on for listening to events on the DOM
        "dojo/domReady!"
      ], function(Map, MapView, TileLayer, dom, on) {

        var incomeLyr = new TileLayer({
          url: "http://server.arcgisonline.com/ArcGIS/rest/services/Demographics/USA_Median_Household_Income/MapServer",
          id: "medians",
          opacity: 0.7
        });

        var map = new Map({
          basemap: "streets",
          layers: [incomeLyr]
        });

        var view = new MapView({
          container: "viewDiv",  // Reference to the scene div created in step 5
          map: map,  // Reference to the map object created before the scene
          zoom: 7,  // Sets zoom level based on level of detail (LOD)
          center: [35.5, -106]  // Sets center point of view using longitude,latitude
        });

        var mediansLyrToggle = dom.byId("mediansLyr");

        on(mediansLyrToggle, "change", function(){
          // When the checkbox is checked (true), set the layer's visibility to true
          incomeLyr.visible =  mediansLyrToggle.checked;
        });

        view.on("layerview-create", function(event) {
          if (event.layer.id === "medians") {
            // Explore the properties of the housing layer's layer view here
            console.log("Median Household Income added!", event.layerView);
          }
        });

        incomeLyr.when(function() {
          view.goTo(incomeLyr.fullExtent);
        });


      });
    </script>
  </body>
</html>
